/*
 * Add to class to slash fa icon
 */
 .ik-crossed-out:after{
	content: '|';
	color: red;
	display: block;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	-webkit-transform: translate(2px, -9px) rotate(-45deg);
	-moz-transform: translate(2px, -7px) rotate(-45deg);
	-o-transform: translate(2px, -7px) rotate(-45deg);
	-ms-transform: translate(2px, -7px) rotate(-45deg);
}

/*
 * Increase forms label width 
 * Usage: Add one of these classes to the inner group (the one containing fields).
 * eg. <group class="ik_lw230" />
 */
 .o_form_view .o_group.o_inner_group.ik_lw100 > tbody > tr > td.o_td_label {
	min-width: 100px;
}
.o_form_view .o_group.o_inner_group.ik_lw110 > tbody > tr > td.o_td_label {
	min-width: 110px;
}
.o_form_view .o_group.o_inner_group.ik_lw120 > tbody > tr > td.o_td_label {
	min-width: 120px;
}
.o_form_view .o_group.o_inner_group.ik_lw130 > tbody > tr > td.o_td_label {
	min-width: 130px;
}
.o_form_view .o_group.o_inner_group.ik_lw140 > tbody > tr > td.o_td_label {
	min-width: 140px;
}
.o_form_view .o_group.o_inner_group.ik_lw150 > tbody > tr > td.o_td_label {
	min-width: 150px;
}
.o_form_view .o_group.o_inner_group.ik_lw160 > tbody > tr > td.o_td_label {
	min-width: 160px;
}
.o_form_view .o_group.o_inner_group.ik_lw170 > tbody > tr > td.o_td_label {
	min-width: 170px;
}
.o_form_view .o_group.o_inner_group.ik_lw170m > tbody > tr > td.o_td_label {
	max-width: 170px;
}
.o_form_view .o_group.o_inner_group.ik_lw180 > tbody > tr > td.o_td_label {
	min-width: 180px;
}
.o_form_view .o_group.o_inner_group.ik_lw190 > tbody > tr > td.o_td_label {
	min-width: 190px;
}
.o_form_view .o_group.o_inner_group.ik_lw200 > tbody > tr > td.o_td_label {
	min-width: 200px;
}
.o_form_view .o_group.o_inner_group.ik_lw210 > tbody > tr > td.o_td_label {
	min-width: 210px;
}
.o_form_view .o_group.o_inner_group.ik_lw220 > tbody > tr > td.o_td_label {
	min-width: 220px;
}
.o_form_view .o_group.o_inner_group.ik_lw230 > tbody > tr > td.o_td_label {
	min-width: 230px;
}
.o_form_view .o_group.o_inner_group.ik_lw240 > tbody > tr > td.o_td_label {
	min-width: 240px;
}
.o_form_view .o_group.o_inner_group.ik_lw250 > tbody > tr > td.o_td_label {
	min-width: 250px;
}
.o_form_view .o_group.o_inner_group.ik_lw260 > tbody > tr > td.o_td_label {
	min-width: 260px;
}
.o_form_view .o_group.o_inner_group.ik_lw270 > tbody > tr > td.o_td_label {
	min-width: 270px;
}
.o_form_view .o_group.o_inner_group.ik_lw280 > tbody > tr > td.o_td_label {
	min-width: 280px;
}
.o_form_view .o_group.o_inner_group.ik_lw290 > tbody > tr > td.o_td_label {
	min-width: 290px;
}
.o_form_view .o_group.o_inner_group.ik_lw300 > tbody > tr > td.o_td_label {
	min-width: 300px;
}
.o_form_view .o_group.o_inner_group.ik_lw310 > tbody > tr > td.o_td_label {
	min-width: 310px;
}
.o_form_view .o_group.o_inner_group.ik_lw320 > tbody > tr > td.o_td_label {
	min-width: 320px;
}
.o_form_view .o_group.o_inner_group.ik_lw330 > tbody > tr > td.o_td_label {
	min-width: 330px;
}
.o_form_view .o_group.o_inner_group.ik_lw340 > tbody > tr > td.o_td_label {
	min-width: 340px;
}
.o_form_view .o_group.o_inner_group.ik_lw350 > tbody > tr > td.o_td_label {
	min-width: 350px;
}
.o_form_view .o_group.o_inner_group.ik_lw360 > tbody > tr > td.o_td_label {
	min-width: 360px;
}
.o_form_view .o_group.o_inner_group.ik_lw370 > tbody > tr > td.o_td_label {
	min-width: 370px;
}
.o_form_view .o_group.o_inner_group.ik_lw380 > tbody > tr > td.o_td_label {
	min-width: 380px;
}
.o_form_view .o_group.o_inner_group.ik_lw390 > tbody > tr > td.o_td_label {
	min-width: 390px;
}
.o_form_view .o_group.o_inner_group.ik_lw400 > tbody > tr > td.o_td_label {
	min-width: 400px;
}

/*
 * Appy to button on form with icon and oe_inline and bootstrap color to compress display
 * eg. <button name="open_pricelist_rules" type="object" icon="fa-arrow-right" class="oe_inline ik_inline_btn btn-info">
 */
.ik_inline_btn {
    margin-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 3px;
}

.oe_inline.ik_inline_btn {
    margin-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 3px;
}

/*
 * Apply to Tree view header button
 *    add space between button 
 */
.ik_tree_header_btn {
    margin-left: 5px;
}
/*
 * Console Style for list view and form Text
 * For list view, use: <field name="log_message" widget="html"/>
 * For form view, use: <field name="log_message" colpsan="4" class="ik_console" />
 */
td.o_data_cell.o_list_text.ik_console {
    font-family: monospace;
	word-break: break-all;
}

span.o_field_text.o_field_widget.ik_console {
	font-family: monospace;
	word-break: break-all;
}

.oe_form_field.oe_form_field_html_text.o_field_widget.ik_console {
	font-family: monospace;
	word-break: break-all;
}

/* This style allow to add sub title on nested groups
 *
 */
.ik_h2  div.o_horizontal_separator {
	font-size: 1.2rem;
	margin-top: -15px;
}